
# User specified exclusions (Root folders)
/CONTENTS/
/Sprites Modificados/
/SPRITES/
/Tools/
/Files/
/HGServer/
Helbreath2.rar

# Visual Studio & Build artifacts
.vs/
*.ipch
*.user
*.suo
[Bb]in/
[Oo]bj/
*.pdb
*.tlog
*.idb
*.iobj
*.ipdb

# Large Binaries and Archives
*.exe
!Helbreath/HelbreathLauncher.exe
*.dll
*.lib
*.rar
*.zip
*.7z

# Specific large files
# Helbreath/HelbreathLauncher.exe

# Temporary
*.log
*.tmp
